@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";
@import "components/*";


ol.list-group.list-group-striped li:nth-of-type(odd){background: lightgrey;}
ol.list-group.list-group-striped li:nth-of-type(even){background: darkgrey;}
ol.list-group.list-group-hover li:hover{ background: white;}
